body {
    margin:0;
    align-items:center;
    flex-direction:column;
    display:flex;
}
.one-bg {
    width:100%;
    background-color:#1f2937;
    justify-content:center;
    display:flex;
}
.first {
    margin:16px 100% 0 100%;
    flex-direction:column;
    display:flex;
}
.first .header {
    margin-bottom:128px;
    align-items:center;
    display:flex;
}
.first .header .header-logo {
    font-size:24px;
    font-weight:bold;
    color:#f9faf8;
}
.first .header .nav-items {
    padding:0;
    margin:0 0 0 auto;
    list-style:none;
    gap:24px;
    display:flex;
}
.first .header .nav-items .header-link a {
    font-size:18px;
    color:#e5e7eb;
    text-decoration:none;
}
.first .top-content {
    margin-bottom:128px;
    gap:48px;
    display:flex;
}
.first .top-left {
    width:480px;
    flex-direction:column;
    gap:12px;
    display:flex;
}
.first .top-left .hero-text {
    font-size:48px;
    font-weight:bolder;
    color:#f9faf8;
}
.first .top-left .subhero-text {
    font-size:18px;
    color:#e5e7eb;
}
.first .top-left .signup {
    width:128px;
    height:36px;
    font-size:18px;
    font-weight:bold;
    color:#f9faf8;
    background-color:#3882f6;
    border:none;
    border-radius:8px;
}
.first .top-right .placeholder-img {
    height:280px;
    width:540px;
    background-color:grey;
    color:#e5e7eb;
    justify-content:center;
    align-items:center;
    display:flex;
}
.second {
    margin-bottom:128px;
    flex-direction:column;
    align-items:center;
    display:flex;
}
.second .img-header {
    color:#1f2937;
    font-size:36px;
    font-weight:bolder;
    margin:48px 0;
}
.second .img-container {
    justify-content:center;
    gap:32px;
    display:flex;
}
.second .img-container .img-desc {
    width:240px;
    flex-direction:column;
    align-items:center;
    display:flex;
}
.second .img-container .img-desc .gear-logo {
    width:180px;
    height:auto;
}
.second .img-container .img-desc .img-text {
    text-align:center;
}
.three-bg {
    width:100%;
    background-color:#e5e7eb;
    justify-content:center;
    display:flex;
}
.third {
    padding:128px 0 128px 0;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    display:flex;
}
.third .quote {
    max-width:840px;
    color:#1f2937;
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
}
.third .quote-auth {
    font-weight:bold;
    font-size:24px;
    margin-right:64px;
    align-self:flex-end;
}